{
  "comments": false,
  "presets": [
    [ "@babel/preset-env", {
      "targets": {
        "node": "8.10"
      },
      "modules": "commonjs"
    }],
    "minify"
  ],
  "plugins": [
    "babel-plugin-add-module-exports"
  ]
}